<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>Kinect_ros</name>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Peng Chang</name>
    <email>chang.pe@husky.neu.edu</email>
  </author>

  <description>
    A model of the kinect sensor with ROS plugin
  </description>
</model>
