<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>Kinect_ros_with_stand</name>
  <sdf version="1.2">model-1_2.sdf</sdf>
  <sdf version="1.3">model-1_3.sdf</sdf>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Peng Chang</name>
    <email>chang.pe@husky.neu.edu</email>
  </author>

  <description>
    A model of the kinect sensor with ROS plugin
  </description>
</model>
